<section class="thirteen columns">
    <h1>Professional experience</h1>
    <article>
        <header>
            <h1>Senior Machine Learning Engineer</h1>
            <span><address>ShopBack</address><time>Sep '20 to Present</time></span>
        </header>
        <p>
            <li>Developing and productionize deep (and machine) learning recommendation models in-house </li>
            <li>Responsible for end-to-end MLOps</li>
            <li style="padding-left:40px">Data pipeline and model development</li>
            <li style="padding-left:40px">Continuous re-training of model</li>
            <li style="padding-left:40px">Model deployment, maintenance and AB testing</li>
            <li>Productionized models</li>
            <li style="padding-left:40px">o Deals recommendation for offline vertical:</li>
            <li style="padding-left:80px"> Designed and built a learning to rank (LTR) model from gradient boosted trees</li>
            <li>Productionized model result</li>
            <li style="padding-left:40px">Deals recommendation for (SBGO) offline vertical: +~15% in CTR and +~20% in transactions</li>
            <li style="padding-left:40px">Merchant recommendation for (SBOC) online vertical: +~3% in CTR and +~4% in transactions</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Scientist/Founder</h1>
            <span><address>UpTick (Data Consultancy)</address><time>Dec '18 to Present</time></span>
        </header>
        <p>
            <li>Providing data (science and engineering) consultancy services to SME and start-ups</li>
            <li>Working with clients and built out end to end data products, notable clients are:</li>
            <li style="padding-left:40px">Ablr (fintech)</li>
            <li style="padding-left:80px">Built out ETL and data infrastructure</li>
            <li style="padding-left:80px">Created and integrated a credit (score) engine that leverages on 2 deep neural network (dNN) models of
loan default and will user be late for payments</li>
            <li style="padding-left:80px">Created and integrated a differential interest rate pricing model for loans with differing credit score</li>
            <li style="padding-left:40px">3PlayGrounds</li>
            <li style="padding-left:80px">Built out ETL and data infrastructure as a baseline for having more robust and useable data for future developments like predictive analytics</li>
            <li style="padding-left:40px">GrowthOS</li>
            <li style="padding-left:80px">Creating content that is related to data analysis and (pirate) growth metrics</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Scientist 2</h1>
            <span><address>Skyscanner Ltd</address><time>Mar '20 to Aug '20</time></span>
        </header>
        <p>
            <li>Attached to Skyscanner accommodation ranking team </li>
            <li>Worked on hotels ranking problem of returning the best sorted search results personalized to the user and search parameters</li>
            <li style="padding-left:40px">Implemented new features and model (LighGBM) that improved hotel booking relatively by 10%</li>
            <li style="padding-left:40px">Created a dNN model to replace current model, offline evaluations improve model’s MRR +~5%</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Scientist 2</h1>
            <span><address>Skyscanner Ltd</address><time>Oct '18 to Mar '20</time></span>
        </header>
        <p>
            <li>Attached to Skyscanner car hire vertical </li>
            <li>Integrated an improved cross-sell model for car hire with deep learning that is more scalable with better evaluation metrics that has increased car hire searches and redirects by 5% and 1% respectively </li>
            <li>Integrated a lead time model of when is the best time interval to send a push notification for the car hire cross-sell model</li>
            <li>Created and integrated a price prediction model for car hire itinerary, with 80% accuracy (using RMSE)</li>
            <li>Created a vertical recommendation, decision to recommend car hire or airport transfer for different cities</li>
            <li>Created and tested a result sorting algorithm for car hire search results page, which improves redirects and bookings by 3% and 1% respectively.</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Growth</h1>
            <span><address>Skyscanner Ltd</address><time>Apr '17 to Oct '18</time></span>
        </header>
        <p>
            <li>Developed 2 in-house models from scratch for Multi Touch Attribution</li>
            <li>Created a predictive model for 7 days retention as part of early warning system for business metrics</li>
            <li>Improved app onboarding experience by leveraging on ML to determine what app features higher retained users are using in their initial month of installs</li>
            <li>Maintained and improved a statistical self-servicing tool that proves causal impact on changes made to Skyscanner.</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Data Analyst</h1>
            <span><address>Firemonkeys Electronic Arts</address><time>Mar '15 to Mar '17</time></span>
        </header>
        <p>
            <li>Involved in scoping of AB tests and conducted statistical analysis on test results to provide insights and recommendation</li>
            <li>Created simulation models for game events to validate and assist the tuning of values from product managers. Examples: Time taken, or total spend to complete events</li>
            <li>Created and tested a price optimization model that has increased weekend revenue by 80%</li>
            <li>Developed a bottom up forecasting revenue model that is now used by EA company-wide</li>
            <li>Created a user acquisition spend optimization model that minimizes risk and maximize returns that has helped
acquisition team for their buy strategy and direction</li>
            <li>Managed an associate analyst and trained up his technical and soft skills to be a data analyst</li>

        </p>
    </article>
</section>
