<section class="thirteen columns">
    <h1>Awards/Side Projects</h1>
    <article>
        <header>
            <h1>Sky High Award</h1>
            <span><address>Skyscanner Ltd</address><time>Sep '19</time></span>
        </header>
        <p>
            <li>Built out data products for other teams outside of car hire</li>
            <li>Successfully mentored a marketing graduate to transit into a Data Analyst role</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Speaker at AnalytiCon</h1>
            <span><address>Firemonkeys Electronic Arts</address><time>Aug '16</time></span>
        </header>
        <p>
            <li>Presented as the last speaker on day 1 in EA inaugural Analytics Conference on content planning saturation
using the statistical theory of mean reversion</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Talent Spotlight Award</h1>
            <span><address>Firemonkeys Electronic Arts</address><time>Feb '16</time></span>
        </header>
        <p>
            <li>Recognized and mentioned in EA Mobile quarterly general meeting for building the bottom up forecasting
revenue model for company-wide use</li>
        </p>
    </article>
</section>