<section class="thirteen columns">
    <h1>Awards/Side Projects</h1>
    <article>
        <header>
            <h1>Talent Spotlight Award</h1>
            <span><address>Firemonkeys Electronic Arts</address><time>Feb '16</time></span>
        </header>
        <p>
            <li>Recognized and mentioned in EA Mobile quarterly general meeting for building the bottom up forecasting
revenue model for company-wide use</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Speaker at AnalytiCon</h1>
            <span><address>Firemonkeys Electronic Arts</address><time>Aug '16</time></span>
        </header>
        <p>
            <li>Presented as the last speaker on day 1 in EA inaugural Analytics Conference on content planning saturation
using the statistical theory of mean reversion</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Mentoring of data science introduction to intermediate</h1>
            <span><address>Weekly Meetup</address><time>Jan '18 to Present</time></span>
        </header>
        <p>
            <li>Created an introduction to intermediate data science syllabus and have a weekly mentoring group of (maximum) 18</li>
        </p>
    </article>

    <article>
        <header>
            <h1>UpTick</h1>
            <span><address>Founder</address><time>Nov '18 to Present</time></span>
        </header>
        <p>
            <li>Providing data (science and engineering) consultancy services to SME and start-ups</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Content curator for UpTick blog</h1>
            <span><address>Founder</address><time>Nov '18 to Present</time></span>
        </header>
        <p>
            <li>Content curator for data blog; showing how daily problems can be solved using data</li>
        </p>
    </article>
</section>