<section class="thirteen columns">
    <h1>Personal Details</h1>
    <article>
        <header>
            <h1>Nationality</h1>
        </header>
        <p>
            <li>Singapore</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Working rights in Australia</h1>
        </header>
        <p>
            <li>Requires sponsorship</li>
        </p>
    </article>

    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <li>English (native)</li>
            <li>Mandarin</li>
        </p>
    </article>
</section>