<section class="thirteen columns">
    <h1>Summary</h1>
    <article>
        <p>
        	<strong>Highlight</strong>: Data scientist/Machine Learning Engineer with 5+ years’ experience building end-to-end data apps; data pipeline, modelling, continuous re-training pipeline to end deployment
        </p> <br>
        <p><strong>Mathematical/Statistical Skills</strong></p>
        <p><em>Derivation</em>: Advance calculus of differential equations, stochastic calculus and real analysis</p>
        <p><em>Modeling</em>: Machine learning, time series analysis, sampling, ANOVA analysis, A/B testing, linear algebra, model/feature selection</p>
        <p><em>Hands on experience</em>: applying several ML/statistical algorithms to real world problems: (deep) Neural Network, Recurrent Neural Network, Gradient Boosting, Ensembling techniques (inclusive of stacking and blending), Clustering, GLM, Markov, Game Theory and Simulation Models.</p><br>

		<p><strong>Programming Skills</strong></p>
		<p><em>Functional programming</em>: Python, PySpark</p>
        <p><em>Distributed systems</em>: Hadoop, Hive, Spark</p>
        <p><em>Databases</em>: MySQL, Postgres, Redshift</p>
		<p><em>Data visualization</em>: R (inclusive of Rshiny), Python, Tableau</p>
		<p><em>Model deployment/Orchestration</em>: Airflow, Docker, Kubernetes, MLflow</p>
        <p><em>Tech Stack</em>: AWS</p>
    </article>
</section>