<section class="thirteen columns">
    <h1>Summary</h1>
    <article>
        <p>
        	<strong>Highlight</strong>: Data scientist with good mathematical background
        </p> <br>
        <p><strong>Mathematical/Statistical Skills</strong>: 3+ years of experience</p>
        <p><em>Derivation</em>: Advance calculus of differential equations, stochastic calculus and real analysis</p>
        <p><em>Modeling</em>: Machine learning, time series analysis, sampling, ANOVA analysis, A/B testing, linear algebra, model/feature selection</p>
        <p><em>Hands on experience</em>: applying several ML/statistical algorithms to real world problems: Gradient Boosted Trees, Random Forest, Clustering, GLM, Markov, Game Theory and Simulation Models.</p><br>

		<p><strong>Programming Skills</strong>: 3+ years of experience</p>
		<p><em>Programming</em>: R (inclusive of Rshiny), Python, PySpark, SQL, VBA and basic Java</p>
		<p><em>Data visualization</em>: R, Python and Tableau</p>
		<p><em>Data engineering</em>: Hadoop and AWS, experience with building end-to-end machine platform using python and Spark (and Hive)</p>
    </article>
</section>